<form [formGroup]="formLogin" (ngSubmit)="iniciarSesion()">
    
    <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password">
    </div>
    
     <!-- Mostrar mensaje de error -->
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

    <button class="form-button" type ="submit">Iniciar sesión</button>


</form>
